language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '9'
services:
  - postgresql
addons:
  postgresql: "9.6"
sudo: false
dist: trusty
env:
  global:
    - PG_CONNECTION_STRING=postgres://postgres:postgres@localhost:5432/travis_ci_test
    - TIMEOUT=15000
install:
  - travis_retry npm install
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
test:
  - npm test
after_success:
  - npm run coverage
deploy:
  provider: script
  script_cleanup: true
  script:
    - npx semantic-release